<div>
  <h2 class="form-title">{{ isEdit ? 'Edit Item' : 'Add Item' }}</h2>

  <form [formGroup]="itemForm" (ngSubmit)="onSave()" class="form">

    <div class="form-group">
      <label>Name</label>
      <input type="text" formControlName="name" placeholder="Name">
      <div *ngIf="itemForm.get('name')?.invalid && itemForm.get('name')?.touched"
           class="error-message">
        Name is required and must be at least 2 characters!
      </div>
    </div>

    <div class="form-group">
      <label>Price</label>
      <input type="number" formControlName="price" placeholder="Price" step="0.01" min="0.01">
      <div *ngIf="itemForm.get('price')?.invalid && itemForm.get('price')?.touched"
           class="error-message">
        Price must be at least 0.01!
      </div>
    </div>

    <div class="form-group">
      <label>Category</label>
      <select formControlName="category">
        <option value="">Category</option>
        <option *ngFor="let cat of categories" [value]="cat.name">{{ cat.name }}</option>
      </select>
      <div *ngIf="itemForm.get('category')?.invalid && itemForm.get('category')?.touched"
           class="error-message">
        Must select a category!
      </div>
    </div>

    <div class="form-buttons">
      <button type="button" class="btn-cancel" (click)="onCancel()">Cancel</button>
      <button type="submit" class="btn-save">Save</button>
    </div>
  </form>
</div>
